<div class="flex flex-column gap-3">
  <div class="flex flex-row justify-content-between align-items-end">
    <div class="flex flex-column">
      <h1 class="page-h1">Phish or Fake Emails</h1>
      <div
        class="flex flex-row text-yellow-500 text-sm justify-content-start gap-2"
      >
        <i class="pi pi-exclamation-triangle"></i>
        <span>Minimum emails for Phish or Fake are 10</span>
      </div>
    </div>
    <button pButton icon="pi pi-plus">Create Email</button>
  </div>
  <div class="surface-100 border-round flex flex-column gap-2 p-4">

  </div>
</div>

