<div class="flex flex-column gap-3">
  <div class="flex flex-row justify-content-between align-items-end">
    <div class="flex flex-column">
      <h1 class="page-h1">Filter Force Messages</h1>
      <div
        class="flex flex-row text-yellow-500 text-sm justify-content-start gap-2"
      >
        <i class="pi pi-exclamation-triangle"></i>
        <span>Minimum messages for Filter Force are 10</span>
      </div>
    </div>
    <button pButton icon="pi pi-plus" (click)="toggleCreateMessageDialogVisibility()" >Create Message</button>
  </div>
  <div class="surface-100 border-round flex flex-column gap-2 p-4" *ngIf="!isLoading, else loading">
    @if (messages.length <= 0) { No messages yet. } @else {
    <p-table [value]="messages" [paginator]="true" [rows]="10">
      <ng-template #header>
        <tr>
          <th>No.</th>
          <th>Message</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template #body let-message let-rowIndex="rowIndex">
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ message.message }}</td>
          <td>
            <p-badge
              [value]="message.is_danger ? 'Danger' : 'Normal'"
              [severity]="message.is_danger ? 'danger' : 'success'"
              badgeSize="small"
            ></p-badge>
          </td>
          <td>
            <span class="flex flex-row gap-2">
              <p-button icon="pi pi-file-edit" [rounded]="true" [outlined]="true" size="small" (onClick)="onEditState(rowIndex)" [disabled]="hasAction"></p-button>
              <p-button icon="pi pi-trash" [rounded]="true" [outlined]="true" severity="danger" size="small" [disabled]="messages.length <= 10 || hasAction" (onClick)="onDeleteMessage(message.id)"></p-button>
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
    }
  </div>
  <ng-template #loading>
    <p-skeleton width="100%" height="4rem" />
  </ng-template>
</div>

<p-dialog [header]="!isEditMsg ? 'Create New Message':'Update Message'" [modal]="true" [(visible)]="visible" [style]="{ width: '50%' }" (onHide)="resetCreateMessageForm()">
  <form [formGroup]="createMessageForm" (ngSubmit)="onCreateMessage()">
    <div class="flex flex-column align-items-start gap-1 mb-4">
      <label for="message" class="font-semibold">Message</label>
      <input pInputText id="message" formControlName="message" class="w-full" [disabled]="isFormLoading" />
      @if (isFieldInvalid('message')) {
        <span class="text-red-500 text-xs" *ngIf="createMessageForm.get('message')?.errors?.['required']">Message is required</span>
      } 
    </div>
    <div class="flex flex-row justify-content-between gap-2 mb-4">
      <label for="is_danger" class="font-semibold">This is a dangerous message</label>
      <p-toggleswitch id="is_danger" formControlName="isDanger" [disabled]="isFormLoading"></p-toggleswitch>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="toggleCreateMessageDialogVisibility()" [disabled]="isFormLoading" />
        <p-button label="Create" type="submit" *ngIf="!isEditMsg, else update" [loading]="isFormLoading" />
        <ng-template #update>
          <p-button label="Update" (onClick)="onUpdateMessage()" [disabled]="createMessageForm.pristine || createMessageForm.invalid" [loading]="isFormLoading" />
        </ng-template>
      </div>
  </form>
</p-dialog>

<p-toast></p-toast>
