<div class="flex flex-column gap-3" *ngIf="!isLoading; else loading">
  @if (quizLevel) {
  <div class="flex flex-row justify-content-between align-items-center">
    <h1 class="page-h1">
      Level {{ quizLevel.level + 1 }} - {{ quizLevel.level_name }}
    </h1>
    <p-button label="Create Question" icon="pi pi-plus" (onClick)="toggleCreateQuestionDialogVisibility()"></p-button>
  </div>
  <div class="surface-100 border-round flex flex-column gap-2 p-4">
    <div class="flex flex-row gap-2 align-items-center vertical-align-middle">
        <span>Number of questions: </span>
        @if (!isQuesNumEditing) {
        <span>{{ quizLevel.question_num }}</span>
        <p-button icon="pi pi-file-edit" [rounded]="true" [outlined]="true" size="small" (onClick)="toggleQuesNumEdit()"></p-button>
        } @else {
            <p-inputnumber inputId="integeronly" [(ngModel)]="questionNumField" [disabled]="isUpdateQuesNumLoading"></p-inputnumber>
            <p-button label="Cancel" size="small" severity="secondary" (onClick)="toggleQuesNumEdit()" [disabled]="isUpdateQuesNumLoading"></p-button>
            <p-button label="Update" size="small" (onClick)="onUpdateQuesNum()" [disabled]="questionNumField == quizLevel.question_num || !questionNumField || questionNumField <= 0" [loading]="isUpdateQuesNumLoading"></p-button>
        }
    </div>
    <p-accordion value="0" (onOpen)="onAccordionOpen($event)">
      @for (ques of questions; track ques.id; let i = $index) {
      <p-accordion-panel [value]="i">
        <p-accordion-header>{{ ques.question }}</p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-column gap-2">
            <div class="flex flex-row justify-content-between align-items-center vertical-align-middle">
              <div class="font-light text-sm text-green-600">
                Explanation: {{ ques.explanation }}
              </div>
              <div class="flex flex-row gap-2">
                <p-button icon="pi pi-file-edit" [rounded]="true" [outlined]="true" size="small" [disabled]="!ques.answers" (onClick)="onEditState(i)"></p-button>
                <p-button icon="pi pi-trash" [rounded]="true" [outlined]="true" severity="danger" size="small" [disabled]="questions.length <= quizLevel.question_num" (onClick)="onDeleteQuestion(ques.id)"></p-button>
              </div>
            </div>
            <div class="surface-100 border-round p-2 flex flex-column gap-2" *ngIf="ques.answers; else answerLoading">
              <div class="text-medium text-green-700 font-semibold">
                Answers:
              </div>
              <p-table [value]="ques.answers">
                <ng-template #body let-ans>
                  <tr>
                    <td>
                      <span>{{ ans.answer }}</span>
                      <span class="pl-2" *ngIf="ans.is_true">
                        <p-badge value="True" severity="success" badgeSize="small"></p-badge>
                      </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <ng-template #answerLoading>
              <p-skeleton width="100%" height="4rem" />
            </ng-template>
          </div>
        </p-accordion-content>
      </p-accordion-panel>
      }
    </p-accordion>
  </div>
  }
</div>
<ng-template #loading>
  <div class="flex flex-column gap-3">
    <p-skeleton width="15rem" height="3rem" borderRadius="16px" />
    <p-skeleton width="100%" height="4rem" />
  </div>
</ng-template>

<p-dialog [header]="!isQuesEditing ? 'Create New Question':'Update Question'" [modal]="true" [(visible)]="visible" [style]="{ width: '50%' }" (onHide)="resetCreateQuestionForm()" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <form [formGroup]="createQuestionForm" (ngSubmit)="onCreateQuestion()">
    <div class="flex flex-column align-items-start gap-1 mb-4">
      <label for="question" class="font-semibold">Question</label>
      <input pInputText id="question" formControlName="question" class="w-full" [disabled]="isFormLoading" />
      @if (isFieldInvalid('question')) {
        <span class="text-red-500 text-xs" *ngIf="createQuestionForm.get('question')?.errors?.['required']">Question is required</span>
      } 
    </div>
    <div class="flex flex-column align-items-start gap-1 mb-4">
      <label for="explanation" class="font-semibold">Explanation</label>
      <input pInputText id="explanation" formControlName="explanation" class="w-full" [disabled]="isFormLoading" />
      @if (isFieldInvalid('explanation')) {
        <span class="text-red-500 text-xs" *ngIf="createQuestionForm.get('explanation')?.errors?.['required']">Explanation is required</span>
      } 
    </div>
    <div class="flex flex-column align-items-start gap-1 mb-4">
      <div class="flex flex-row justify-content-between align-items-center vertical-align-middle w-full">
        <label class="font-semibold">Answers</label>
        <p-button label="More Answer" icon="pi pi-plus" size="small" (onClick)="answers.push(answerForm())"></p-button>
      </div>
      <div formArrayName="answers" class="flex flex-column gap-2 w-full">
        <div *ngFor="let ans of answers.controls; let i = index" [formGroupName]="i" class="flex flex-column gap-1">
          <div class="flex flex-row gap-2">
            <p-button icon="pi pi-trash" [rounded]="true" [outlined]="true" severity="danger" (onClick)="onRemoveAnswerForm(i)" [disabled]="answers.length <= 2"></p-button>
            <input pInputText [id]="i" formControlName="answer" placeholder="Answer" class="w-full mr-3" [disabled]="isFormLoading" />
            <span class="flex flex-row gap-2 align-items-center vertical-align-middle ">
              <span class="font-light">Correct: </span>
              <p-toggleswitch [id]="`${i}_is_true`" formControlName="is_true" [disabled]="isFormLoading" (onChange)="onSwitchChange($event, i)"></p-toggleswitch>
            </span>
          </div>
          @if (answers.controls[i].get('answer')?.touched && answers.controls[i].get('answer')?.errors?.['required']) {
            <span class="text-red-500 text-xs">Answer is required</span>
          }
        </div>
      </div>
      @if (checkAnswerValidity.noIsTrue) {
        <span class="text-red-500 text-xs">Must has a correct answer for the question</span>
      } @else if (!checkAnswerValidity.onlyOne) {
        <span class="text-red-500 text-xs">Only one correct answer for the question</span>
      }
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="toggleCreateQuestionDialogVisibility()" [disabled]="isFormLoading" />
        <p-button label="Create" type="submit" *ngIf="!isQuesEditing, else update" [loading]="isFormLoading" />
        <ng-template #update>
          <p-button label="Update" (onClick)="onUpdateQuestion()" [disabled]="createQuestionForm.pristine || createQuestionForm.invalid" [loading]="isFormLoading" />
        </ng-template>
      </div>
  </form>
</p-dialog>

<p-toast></p-toast>
