<div
  class="max-w-sm min-h-screen flex justify-content-center align-items-center bg-green-50"
>
  <p-card class="w-30rem">
    <ng-template #title>
      <div class="text-2xl text-center pt-3">Reset Password</div>
    </ng-template>
    <ng-template #subtitle>
      <div class="text-xs text-center">
        First time login? Reset a new password now!
      </div>
      <div class="text-xs text-center">
        Please verify the email before reset your password.
      </div>
    </ng-template>
    <ng-template #content>
      <div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
          <p-floatlabel class="mt-5">
            <input pInputText type="password" formControlName="password" class="w-full"
              [ngClass]="isFieldInvalid('password') ? 'ng-invalid ng-dirty' : null"
            />
            <label>Password</label>
          </p-floatlabel>
          @if (isFieldInvalid('password')) {
          <span class="text-red-500 text-xs">
            @if (resetPasswordForm.get('password')?.hasError('required')) {
              This field is required
            } @else if (resetPasswordForm.get('password')?.hasError('digit')) {
              Must include at least one digit
            } @else if (resetPasswordForm.get('password')?.hasError('upperLower')) {
              Must include at least one uppercase and one lowercase
            } @else if (resetPasswordForm.get('password')?.hasError('specialChar')) {
              Must include at least one special character (e.g., ! &#64; # $ % ^ & *)
            } @else if (resetPasswordForm.get('password')?.hasError('minlength')) {
              Must be at least 8 characters long
            }
          </span>
          }
          <div class="text-xs text-color-secondary mt-2">
            The password must:<br>
            • be at least 8 characters long<br>
            • include at least one uppercase and one lowercase letter<br>
            • include at least one digit<br>
            • include at least one special character (e.g., !&#64;#$%^&*)
          </div>

          <p-floatlabel class="mt-5">
            <input pInputText type="password" formControlName="confirm_password" class="w-full"
              [ngClass]="isFieldInvalid('confirm_password') ? 'ng-invalid ng-dirty' : null"
            />
            <label>Confirm Password</label>
          </p-floatlabel>
          @if (isFieldInvalid('confirm_password')) {
          <span class="text-red-500 text-xs">
            @if (resetPasswordForm.get('confirm_password')?.hasError('required')) {
              This field is required
            } @else if (resetPasswordForm.get('confirm_password')?.hasError('matchPassword')) {
              The password not match
            }
          </span>
          }

          <div class="flex justify-content-between mt-4 text-sm">
            <p-button label="Not ready yet? Try later." [link]="true" size="small" (onClick)="onLogout()" [disabled]="isLoading" />
            <!-- <button pButton size="small" (click)="onSendVerificationEmail()" [disabled]="isVerifyDisable || isLoading">
              <span pButtonLabel>Resend verification email @if (countdown > 0) { ({{ countdown }}) }</span>
            </button> -->
          </div>

          <div class="flex justify-content-center mt-3">
            <p-button label="Confirm" [rounded]="true" type="submit" [loading]="isLoading"></p-button>
          </div>
        </form>
      </div>
    </ng-template>
  </p-card>
</div>

<p-toast></p-toast>
